# PLSE ETL - Part 1: "13 years of data"
(*Part 2: PDF to DB*)

In [1]:
import pandas as pd

In [7]:
from functional import seq

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession \
        .builder \
        .appName('plse') \
        .getOrCreate()

In [4]:
case_data = pd.ExcelFile('tmp/PA2459713_Philadelphia_CaseData_Deliverable.xlsx')

In [5]:
def extract(x):
    df = pd.read_excel(case_data, 'Case Data {}'.format(x))
    df.to_csv('tmp/case_data_{}.csv'.format(x))
    
    return spark.read.format('csv').option('header', 'true').load('tmp/case_data_{}.csv'.format(x))

In [8]:
case_data_dfs = [extract(i) for i in seq(1, 2, 3, 4)]

**Create "Wide" Spark Dataframe**

In [ ]:
case_data_dfs[0].printSchema()

In [ ]:
"""finalDF = spark.createEmptyDataFrame()

for df in seq(df1, df2, df3, df4):

    finalDF = finalDF.union(df)
""""

**Load**

In [ ]:
# mount -v for data to persist, in the meantime...?

In [ ]:
"""(seq(1, 2, 3, 4)
    .map(lambda x: x * 2)
    .filter(lambda x: x > 4)
    .reduce(lambda x, y: x + y)
)"""