In [1]:
import sqlalchemy
import psycopg2

In [7]:
from sqlalchemy import create_engine

POSTGRES_USERNAME = 'postgres'
POSTGRES_PASSWORD = 'changeme'
POSTGRES_ADDRESS = 'postgres'
POSTGRES_PORT = '5432'
POSTGRES_DBNAME = 'dbdb'

postgres_str = ('postgresql://{username}:{password}@{ipaddress}:{port}/{dbname}').format(
    username=POSTGRES_USERNAME,
    password=POSTGRES_PASSWORD,
    ipaddress=POSTGRES_ADDRESS,
    port=POSTGRES_PORT,
    dbname=POSTGRES_DBNAME)

cnx = create_engine(postgres_str)

In [8]:
import pandas as pd

In [9]:
print(cnx)

Engine(postgresql://postgres:***@postgres:5432/dbdb)

In [17]:
pd.read_sql_query('select * from demo', cnx)

   id foo
0   1   a
1   2   a

In [15]:
print(foo)

Empty DataFrame
Columns: [id, foo]
Index: []